<div class="row" *ngIf="currentList.length > 1">
        <div class="card-holder">
            <mat-card class="red-card">
                <mat-card-header class="card-header">
                    <mat-card-title>{{currentList[0]?.title}}</mat-card-title>
                    <span class="fill-remaining-space"></span>
                    <!-- <button mat-icon-button (click)="redFlipped=true" class="info-button">
                        <mat-icon>info_outline</mat-icon>
                    </button> -->
                </mat-card-header>
                <mat-card-content>
                        <img class="choice-image" [src]="'../../../assets/images/' + currentList[0]?.title + '.jpg'" [alt]="currentList[0]?.pictureUrl">

                </mat-card-content>
            </mat-card>
    
            <button mat-raised-button color="warn" style="margin-top: 10px; width: 100%;" (click)="selectWinner(currentList[0])">I choose you!</button>
        </div>

        <div class="card-holder">
                <mat-card class="blue-card">
                    <mat-card-header class="card-header">
                        <mat-card-title>{{currentList[1]?.title}}</mat-card-title>
                        <span class="fill-remaining-space"></span>
                        <!-- <button mat-icon-button (click)="redFlipped=true" class="info-button">
                            <mat-icon>info_outline</mat-icon>
                        </button> -->
                    </mat-card-header>
                        <img class="choice-image" [src]="'../../../assets/images/' + currentList[1]?.title + '.jpg'" [alt]="currentList[1]?.pictureUrl">
                </mat-card>
        
                <button mat-raised-button color="warn" style="margin-top: 10px; width: 100%;" (click)="selectWinner(currentList[1])">I choose you!</button>
            </div>

            <div *ngIf="currentList.length == 3" class="card-holder">
                    <mat-card class="yellow-card">
                        <mat-card-header class="card-header yellow">
                            <mat-card-title>{{currentList[2]?.title}}</mat-card-title>
                            <span class="fill-remaining-space"></span>
                            <!-- <button mat-icon-button (click)="redFlipped=true" class="info-button">
                                <mat-icon>info_outline</mat-icon>
                            </button> -->
                        </mat-card-header>
                            <img class="choice-image" [src]="'../../../assets/images/' + currentList[2]?.title + '.jpg'" [alt]="currentList[2]?.pictureUrl">
                    </mat-card>
            
                    <button mat-raised-button color="warn" style="margin-top: 10px; width: 100%;" (click)="selectWinner(currentList[2])">I choose you!</button>
                </div>

    
    </div>
    
    <div class="row win" *ngIf="currentList.length === 1">
        <div  class="card-holder">
            <mat-card class="winner">
                    <mat-card-header>
                        <mat-card-title>Winner!</mat-card-title>
                        <mat-card-subtitle>{{currentList[0]?.title}}</mat-card-subtitle>
                        <span class="fill-remaining-space"></span>
                        <!-- <button mat-icon-button (click)="redFlipped=true" class="info-button">
                            <mat-icon>info_outline</mat-icon>
                        </button> -->
                    </mat-card-header>
                        <img class="choice-image" [src]="'../../../assets/images/' + currentList[0]?.title + '.jpg'" [alt]="currentList[0]?.pictureUrl">
                </mat-card>
        
                <button mat-raised-button color="accent" style="margin-top: 35px; width: 100%;" (click)="reset()">Pick again!</button>
        </div>
    
    </div>