<div class="row">
    <mat-form-field>
        <mat-label>Choice Type</mat-label>
        <mat-select matInput [(ngModel)]="chosenType">
            <mat-option *ngFor="let c of choiceTypes" [value]="c">{{c}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="container">
    <ng-container *ngIf="chosenType == 'Food'">
        <app-food></app-food>
    </ng-container>
    <ng-container *ngIf="chosenType == 'Movies'">
        <app-movies></app-movies>
    </ng-container>
</div>